body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.top-nav {
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;
}

.top-nav .left {
    float: left;
}

.top-nav .left * {
    display: inline-block;
    margin: 0px 0px 1px 10px;
}

.top-nav .right {
    float: right;
}

.top-nav .right * {
    display: inline-block;
    margin: 0px 10px 1px 0px;
}

span {
    display: inline;
}
a {
    display: inline-block;
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main img {
    margin-left: 25%;
}

.main .search {
    width: 75%;
    margin-left: 25%;
}

.bottom-nav {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.bottom-nav .left {
    float: left;
}

.bottom-nav .left * {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    /* why am I having to do this manually? */
    margin-top: 10px;
}

.bottom-nav .right {
    float: right;
    margin-right: 15px;
}

.bottom-nav .right * {
    display: inline-block;
    margin: 10px;
    }